.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: -10px;
}

.list {
    width: 100px;
    height: 100px;
    background-color: skyblue;
    margin: 15px 10px 0 0;
}

.container>i {
    width: 100px;
    margin-right: 10px;
}